@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

@font-face {
    font-family: "Inria Sans";
    src: url("../fonts/InriaSans-Bold.ttf") format('ttf');
    src: url("../fonts/InriaSans-BoldItalic.ttf") format('ttf');
    src: url("../fonts/InriaSans-Italic.ttf") format('ttf');
    src: url("../fonts/InriaSans-Light.ttf") format('ttf');
    src: url("../fonts/InriaSans-LightItalic.ttf") format('ttf');
    src: url("../fonts/InriaSans-Regular.ttf") format('ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inria Sans', sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: #0E0D26;
}

a{
    text-decoration:none;
    color:black;
}

/* ----------MENU BAR---------- */

.menu-bar {
    background-color: #fff;
    height: 40px;
    line-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    cursor: default;
}

/* -----SEARCH----- */
.search-input {
    border: none;
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    color: #0E0D26;
    text-decoration: underline;
    line-height: 25px;
    width: 50%;
    margin-left: 50%;
    outline: none;
}

    .search-input::placeholder {
        color: #0E0D26;
        width: 100%;
    }

/* -----ITEMS----- */
.fixed-titles {
    height: 40px;
    color: #0E0D26;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.item {
    margin: 0% 2%;
    position: relative;
}

.title {
    font-size: 30px;
    line-height: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0%;
    font-weight: bold;
    background-color: #fff;
}

.list {
    background-color: #fff;
    padding: 10px;
    line-height: 30px;
    transform: translateY(-100%);
    transition: 0.3s ease-out;
    position: absolute;
    z-index: -1;
}

    .list > span {
        display: block;
        text-transform: uppercase;
        transition: 0.3s ease-out;
    }

        .list > span:hover {
            margin-bottom: 5%;
        }

.item:hover .list {
    opacity: 1;
    transform: translateY(0%);
}

/* -----PROFILE----- */
.profile {
    margin-left: 70%;
}

.fa-user {
    color: #fff;
    font-size: 26px;
    float: right;
    background-color: #0E0D26;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    transform: translateY(5px);
}


/* ----------MAIN---------- */

main {
    padding: 10%;
    height: 340px;
}

    main article {
        width: calc(100%/3);
        background-color: #fff;
        margin: auto;
        color: #0E0D26;
        padding: 2%;
    }

    .step {
        width: 100%;
        margin: 0% 0% 6%;
        line-height: 40px;
        height: 40px;
    }

    main label {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }

.input-text {
    width: 60%;
    float: right;
    height: 36px;
    background: #eee;
    outline: none;
    border: none;
    font-size: 24px;
    border-left: #0E0D26 2px solid;
    font-family: 'Inria Sans', sans-serif;
}

.buttons {
    justify-content: space-around;
    margin-top: 20%;
}

.btn {
    width: 45%;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #392973;
    border: none;
    color: #fff;
    transition: 0.3s;
    letter-spacing: 2px;
}

    .btn:hover {
        filter: brightness(0.9);
        letter-spacing: 0px;
    }

.signin-btn {
    color: #392973;
    background: #fff;
    border: #392973 2px solid;
    float: right;
}

.validator {
    display: none;
}

.warning-phrase{
    font-size: 18px;
    color: #392973;
}


/* ----------FOOTER---------- */

.footer {
    color: #0E0D26;
    background-color: #fff;
    display: flex;
    text-align: center;
    height: 40px;
    line-height: 40px;
    justify-content: space-around;
}

    .footer > p {
        margin: 0;
    }

        .footer > p > a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #0E0D26;
        }

.copyrights {
    text-transform: uppercase;
}